.navbar{
    width: 100%;
    min-height: 7vh;
    background-color: #1E90FF;
    padding: 0em 1em;
}

fieldset{
    width: 100%;
    min-height: 7vh;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0.4em 1em;
}

.brand img{
    width: 50px;
    height: 50px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.2em;
}

.links li{
    list-style: none;
}

.links li button, a{
    border: none;
    font-weight: bold;
    background:none;
    color: #000;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.links li button:hover, a:hover{
    color: #fff
}