*{padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif;}

body{
    background-color: #101010;
}

.container{
    min-height: 90vh;
    
}

a{
    text-decoration: none;
}

/*class types*/

.grass{
    background-color: #9bcc50;
    color: #000;
}

.poison{
    background-color: #b97fc9 ;
    color: #fff;
}

.fire{ 
    background-color: #fd7d24;
    color: #fff;
}

.flying{
    background: linear-gradient(to top, #bdb9b8 50%, #3dc7ef 50%);
    color: #000;
}

.water{
    background-color: #4592c4;
    color: #fff;
}
 
.bug{
    background-color: #729f3f;
    color:#fff;
}

.normal{
    background-color: #a4acaf;
    color: #000;
}

.electric{
    background-color: #eed535;
    color: #000;
}

.ground{
    background: linear-gradient(to top, #ab9842 50%, #f7de3f 50%);
    color: #000;
}

.fairy{
    background-color: #fdb9e9;
    color: #000;
}

.fighting{
    background-color: #d56723;
    color: #fff;
}

.psychic{
    background-color: #f366b9;
    color: #fff;
}

.rock{
    background-color: #a38c21;
    color: #fff;
}

.steel{
    background-color: #9eb7b8;
    color: #000;
}

.ice{
    background-color: #51c4e7;
    color: #000;
}

.ghost{
    background-color: #7b62a3;
    color: #fff;
}

.dragon{
    background: linear-gradient(to top, #f16e57 50%,#53a4cf 50%);
    color: #fff;
}

.dark{
    background-color: #707070;
    color: #fff;
}